#blog-page {
  padding: 0 5% 0 5%;
}

#date {
    font-size: 12px;
}

#title {
    text-align: center;
}

#inline-images img{
  padding: 0 10% 0 10%;
  display: inline-flex;
  height: 192px;
}


@media (min-width: 1024px) {
  #blog-page {
    padding: 0 20% 0 20%;
  }
}
