section a {
    font-size: 1.8em;
    padding-right: 15px;
}
#brand {
    padding-top:15px;
    font-size: 1.5em;
}
#github{
    color:#000;
}
#linkedin{
    color:#007bb6;
}
#twitter{
    color:#00aced;;
}
#footer-logos{
    display: inline;
}
footer{
    position: fixed;
    bottom: 0;
    width:100%;
    background-color: #000;
}
#logo {
    height: 1.5em;
    width: 1.5em;
}

@media screen and (min-width: 600px) {
    #logo {
        height: 2.5em;
        width: 2.5em;
    }
}
