section a {
    font-size: 1.8em;
    padding-right: 15px;
}
#brand {
    padding-top:15px;
    font-size: 1.5em;
}
#github{
    color:#000;
}
#linkedin{
    color:#007bb6;
}
#twitter{
    color:#00aced;;
}
#logo{
    display: inline;
}
/* #logo img{
    height: 1.8em;
    width: 1.8em;
} */
footer{
    position: fixed;
    bottom: 0;
    width:100%;
}
#logo img{
    height: 1em;
    width: 1em;
}